<div>
  <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">Book House</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/Books">Books
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/Book">Add Books
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <!-- <li class="nav-item active">
        <a class="nav-link" (click)="pageSelected('Shopping List')" href="#">Shopping List
          <span class="sr-only">(current)</span>
        </a>
      </li> -->
      </ul>
      <br>
      <a routerLink="/Cart" class="nav-item active pull-right">
        <span class="glyphicon glyphicon-shopping-cart"></span>
        {{ cartCount[0] }} (Rs.{{ cartCount[1] }})
      </a>
    </div>
  </nav>