<div class="row">
  <div class="col-xs-12">
    <div class="col-xs-4"></div>
    <div class="col-xs-8">
      <!-- <h4>All Books ({{ books.length }})</h4> -->
      <app-books-list></app-books-list>
    </div>
  </div>
  <div class="col-xs-12">
    <app-books-item></app-books-item>
  </div>
</div>