<div class="col-xs-12">
  <ul class="list-group" *ngFor="let cart of cartList;let itemIndex = index">
    <li class="list-group-item">
      <span class="pull-right">
        <a style="text-decoration: none" href="javascript:void(0)" title="Remove from Cart">
          <span class="glyphicon glyphicon-remove" (click)="onRemoveItemFromCart(itemIndex)"></span>
        </a>
      </span>
      <span class="pull-left">
        <img [src]="cart.book.imagePath" style="max-height: 50px" alt="">
      </span>
      <span>
        <h3 style="text-align: start">
          <a [routerLink]="['/ViewBook',itemIndex]" class="clearfix"> {{ cart.book.title }}</a>

        </h3>
        <small>{{ cart.book.author}}</small>
        <small>
          <b> Rs. {{ cart.book.price}}</b>
        </small>
      </span>
      <span class="pull-right">
        Quantity
        <a style="text-decoration: none;" href="javascript:void(0)" class="btn-xs glyphicon glyphicon-minus" (click)="onRemoveItemToCart(itemIndex)"></a>
        {{cart.quantity}}
        <a style="text-decoration: none;" href="javascript:void(0)" class="btn-xs glyphicon glyphicon-plus" (click)="onAddItemToCart(itemIndex)"></a>
        <br>
        <b class="pull-right"> Amount : Rs. {{ cart.book.price * cart.quantity }} </b>
      </span>
    </li>
    <!-- <li class="list-group-item">Second item</li>
    <li class="list-group-item">Third item</li> -->
  </ul>
</div>