<h2>Books ({{ books.length}})</h2>
<div class="col-xs-4" *ngFor="let singleBook of books;let i = index">
  <a (click)="onBookSelected(i)" class="col-xs-8 clearfix">
    <span style="cursor: pointer" class="align-center">
      <img [src]="singleBook.imagePath" class="img-responsive" style="max-height: 75px" alt="book image" />
      <h6>{{singleBook.title}}</h6>
      <small>{{singleBook.author}}</small>
    </span>
  </a>
  <div class="col-xs-8">
    <button class="btn btn-primary btn-xs" (click)="onClickAddToCart(i)">Add To Cart</button>
  </div>
</div>