<div class="container">
  <h2>Add New Book</h2>
  <form (submit)="onSubmitAddComponent()">
    <div class="form-group">
      <label for="title">Title:</label>
      <input type="text" class="form-control" [(ngModel)]="book.title" name="title">
    </div>
    <div class="form-group">
      <label for="author">Author:</label>
      <input type="text" class="form-control" [(ngModel)]="book.author" name="author">
    </div>
    <div class="form-group">
      <label for="price">Price:</label>
      <input type="number" class="form-control" [(ngModel)]="book.price" name="price">
    </div>
    <div class="form-group">
      <label for="image">Image URL:</label>
      <input type="text" class="form-control" [(ngModel)]="book.imagePath" name="image">
    </div>
    <button type="submit" class="btn btn-primary">Add Book</button>
    <button type="reset" class="btn btn-warning">Reset</button>
  </form>
</div>