<div class="col-xs-12" *ngIf="undefined !== selectedBook">
  <div class="col-xs-7">
    <div class="pull-left col-xs-3">
      <img [src]="selectedBook.imagePath" style="max-height:300px" alt="">
    </div>
    <div class="col-xs-3">
      <h3 title="Title">
        {{ selectedBook.title }} </h3>
      <h4 title="Author">
        {{ selectedBook.author }} </h4>
      <h5 title="Price"> Rs. {{ selectedBook.price }}</h5>
      <button (click)="onClickAddToCart()" class="btn btn-primary">Add To Cart</button>
    </div>
  </div>

  <div class="col-xs-4 pull-right">
    <app-shopping></app-shopping>
  </div>
</div>